body {
  font-family: Arial, sans-serif;
  background-image: url('asset/background.png'); /* Ganti dengan URL gambar latar belakang yang diinginkan */
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  scroll-behavior: smooth; /* Animasi geser */
}
.header-section {
  background-color: #1e1e1e; /* Tidak transparan */
  text-align: center;
  padding: 20px 0;
  border-radius: 0; /* Tidak rounded */
}
.navbar {
  background-color: rgba(30, 30, 30, 0.9);
}
.navbar-brand {
  font-weight: bold;
}
.navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-nav .nav-link:hover {
  color: tan; /* Warna saat hover */
}
.tool-card {
  border: 1px solid #444;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e; /* Tidak transparan */
  transition: transform 0.3s, box-shadow 0.3s;
}
.tool-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}
.btn-pdf {
  background-color: tan;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.btn-pdf:hover {
  background-color: wheat;
}
/* Dropdown Styles */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.dropdown-item:hover {
  background-color: wheat; /* Warna saat hover pada dropdown */
  color: #ffffff;
}
.p {
  text-align: justify;
}
/* Efek Transisi */
.fade-in {
  opacity: 0;
  transform: translateY(30px); /* Naik lebih tinggi */
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
.construction-message {
  padding: 30px;
}
.construction-message h1 {
  font-size: 3rem;
  color: #dc3545; /* Warna merah */
}
.construction-message p {
  font-size: 1.25rem;
  color: #6c757d; /* Warna abu-abu */
}